{% load static %}

<footer>
    <div class="footer-content">
        <h3>Fabrizio Sabella</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi esse, libero minima aspernatur eveniet at quibusdam aut tenetur nam ipsa.</p>
        <ul class="socials">
            <li><a href="https://www.instagram.com/fabrisabella/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/fsabella11"><i class="fa fa-twitter" target="_blank"></i></a></li>
            <li><a href="https://www.linkedin.com/in/fabrizio-sabella-79a421217/" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href="https://github.com/Fabri11" target="_blank"><i class="fa fa-github-square"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>Copyright &copy;2022 <span>Fabrizio Sabella.</span></p>
    </div>
</footer>