{% extends 'index.html' %}

{% load static %}

{% block content %}
    {% if posts %}
    {% for post in posts %}
    <div class="container">
        <div class="row">
            <div class="row my-4 text-center">
                <h1>{{post.titulo}}</h1>
                <h3 class="my-2 h5 text-muted">{{post.fecha_creacion}}</h3>
            </div>
            <p class="post-meta">Creador:
                <strong>{{post.autor}}</strong>
            </p>
            <div class="text-center">
                <div class="my-3">
                <p>{{post.contenido|safe}}</p>
            </div>
            <h4><strong>¡Saludos! :)</strong></h4>
            <img src="{{post.imagen}}" alt="{{post.titulo}}" class="img-fluid">
        </div>
    </div>
    {% endfor %}

{% else %}
<div class="row my-4 text-center">
    <h1 class="text-align center">No existen post registrados!</h1>
</div>
{% endif %}


{% endblock %}