{% extends 'index.html' %}

{% block content %}

{% load static %}

<header class="row bg-black border-backgroud">
    <div class="col-md-4 my-auto">
        <img src="{% static 'img/perfil.jpg' %}" style="width:250px ; height: 250px;" class="background-img" alt="">
    </div>

    <div class="col-md-8 my-auto p-4">
        <h1>Yo soy Nombre del <strong>Usuario</strong></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi aut repudiandae ratione cupiditate quas, quibusdam suscipit nobis, quidem nam recusandae minima vitae impedit doloribus. Vel reprehenderit blanditiis recusandae aut odio adipisci, odit nulla illum, eum doloribus, in sapiente ullam deleniti sunt consequatur! Aspernatur sed explicabo rerum ea quasi distinctio ratione?</p>
        <a href="">
          <button class="btn btn-primary">Editar perfil</button>
        </a>
    </div>
</header>

<!-- <div class="row my-4 text-center">
    <h1 class="">Proyectos</h1>
</div>

<div class="row my-4 text-center ">

    {% for project in projects %}

        <div class="col-md-4 p-4">
            <div id="demo" class="card bg-black card-project">
                <img src="{{project.imagen.url}}" alt="{{project.titulo}}" class="card-img-top">
                <div class="card-body">
                    <h2>{{project.titulo}}</h2>

                    <p>{{project.descripcion}}</p>

                    {% if project.url %}
                        <a href="{{project.url}}" class="btn btn-light rounded-4 btn-sm" target="_blank">Visitar</a>
                    {% endif %}
                </div>
            </div>
        </div>

    {% endfor %}
</div> -->

<div class="row my-4 text-center">
    <h1 class="">Publicaciones</h1>
</div>

{% block contenido %}
  <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {% if posts %}
            {% for post in posts %}
            <hr>
                <div class="post-preview">
                  <a href="{% url 'detalles_post' post.slug %}" style="color: #ffff; text-decoration: none;">
                    <h2 class="post-title">
                      {{ post.titulo }}
                    </h2>
                    <h3 class="post-subtitle">
                      {{ post.descripcion }}
                    </h3>
                  </a>
                  <p class="post-meta">Escrito por
                   <strong>{{ post.autor }}</strong>   el
                    {{ post.fecha_creacion }}</p>
                </div>
                <div class="row justify-content-center justify-content-md-start">
                  <a href="{% url 'detalles_post' post.slug %}">
                    <button class="btn btn-secondary">Visitar</button>
                  </a>
                </div>
                <hr>
            {% endfor %}
          {% else %}
          <div class="row my-4 text-center">
              <a href="{% url 'handler404' %}"></a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
{% endblock contenido %}



{% endblock %}