{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{% static 'css/clean-blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/clean-blog.min.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/logo.png.png' %}">
    <title>Django - Blog</title>
</head>
<body class="text-light">
    {% load static %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="/">Sabella</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'proyectos' %}">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'post' %}">Publicaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Videojuegos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre mi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cuenta</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url('{% block imagen %} {% static 'img/home-bg.jpg' %} {% endblock imagen %}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h2>Blog</h2>
          <h2><span>{% block titulo_principal %}F.Sabella{% endblock titulo_principal %}</span></h2>
        </div>
      </div>
    </div>
  </div>
</header>
{% block barra_busqueda %}
<div class="container">
  <div class="row">
    <div class="col-md-12 search">
      <form method="get">
          <div id="custom-search-input">
            <div class="input-group col-md-12">
              <input type="text" class="form-control" placeholder="Buscar..." name="buscar" value = "{{ request.GET.buscar }}">
              <span class="input-group-list">
                <i class="icon icon-search"></i>
                <button type="submit" class="boton btn-success">Buscar</button>
              </span>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
{% endblock barra_busqueda %}
    <div class="container p-4">
        {% block content %}

        {% endblock %}
    </div>

    {% include 'partials/_footer.html' %}


    <script src="{% static 'js/clean-blog.min.js' %}"></script>
</body>
</html>